*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
  color: #204354;
}

.app-container {
  width: 1024px;
  height: 1524px;
  background: #ffffff;
  margin: 30px auto;
  padding: 60px 50px;
  position: relative;
}

/* Overview Component Styles */
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.occupation-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 100;
  margin-top: 4px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 25px;
  padding-bottom: 10px;
}

.occupation-cards-container {
  display: flex;
  text-align: center;
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
  margin-bottom: 50px;
}

.occupation-card {
  padding: 35px 60px;
  border-right: 3px solid #f2f2f2;
}

.occupation-card-top {
  font-size: 40px;
  line-height: 50px;
}

.occupation-card-middle {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.occupation-card-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 3px;
}

/* regional trends component styles */

.regional-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 0px;
}

.regional-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 0px;
}

.table-el {
  margin-right: 70px;
}
.tbl-row1 {
  margin-right: 92px;
}

/* utilities */
.no-right-border {
  border-right: none;
}

.green {
  color: #41d592;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 22px;
}

.icon2 {
  width: 15px;
  height: 19px;
  margin-left: 10px;
  margin-right: 7px;
}

.blue {
  background: #c9ebfa;
}

.border-bottom {
  border-bottom: 3px solid #f2f2f2;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.pl {
  padding-left: 50px;
}

.mb {
  margin-bottom: 50px;
}

.red {
  color: rgb(221, 94, 94);
}

/* loading bar */
.loadbar {
  width: 100%;
  height: 44px;
  /* background-color: #fff; */
  /* border: 1px solid #ccc; */
  position: relative;
  /* padding: 12px; */
}
.bar {
  /* line-height: 25px; */
  height: 100%;
  display: block;
  background-color: #c9ebfa;
  position: absolute;
  opacity: 0.3;
}

.icon3 {
  width: 15px;
  height: 19px;
  margin-left: 10px;
  margin-right: 7px;
  /* margin-top: 10px; */
}

.flex3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  height: 33px;
}

/* .left3 {} */

.right3 {
  align-self: center;
  width: 300px;
  text-align: right;
}

.ml3 {
  margin-left: 60px;
  width: 70px;
  display: inline-block;
  text-align: right;
}

.bold {
  font-weight: 700;
}

.height3 {
  height: 100px;
}

.width3 {
  width: 30px;
}

.right4 {
  align-self: center;
  width: 400px;
  text-align: right;
}

.ml4 {
  margin-left: 10px;
}

.btn {
  background: #41d592;
  width: 270px;
  height: 50px;
  border: none;
  cursor: pointer;
  padding-top: 7.5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  position: absolute;
  right: 100px;
  font-weight: 700;
  color: #204354;
}

.btn:hover {
  background: #d0fde9;
}
