*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
  color: #204354;
}

.app-container {
  width: 1024px;
  height: 1424px;
  background: #ffffff;
  margin: 0 auto;
  padding: 60px 50px;
}

/* Overview Component Styles */
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.occupation-title {
  font-size: 18px;
  line-height: 22px;

  font-weight: 100;
  margin-top: 4px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 25px;
  padding-bottom: 10px;
}

.occupation-cards-container {
  display: flex;
  text-align: center;
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
  margin-bottom: 50px;
}

.occupation-card {
  padding: 35px 60px;
  border-right: 3px solid #f2f2f2;
}

.occupation-card-top {
  font-size: 40px;
  line-height: 50px;
}

.occupation-card-middle {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.occupation-card-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 3px;
}

/* regional trends component styles */

.regional-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 0px;
}

.table-el {
  margin-right: 70px;
}
.tbl-row1 {
  margin-right: 92px;
}

/*  */

/* utilities */
.no-right-border {
  border-right: none;
}

.green {
  color: #41d592;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 22px;
}

.blue {
  background: #c9ebfa;
}

.border-bottom {
  border-bottom: 3px solid #f2f2f2;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.pl {
  padding-left: 50px;
}

.mb {
  margin-bottom: 50px;
}
